.item-info-popup {
  /* background: rgba(0, 0, 0, 0.2); */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item-info-popup-content {
  width: 100%;
  max-width: 500px;
  background: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  /* margin-right: 750px; */
}

.item-info-popup img {
  border: 3px solid black;
  border-radius: 10px;
}

.item-info-popup button {
  display: block;
  margin: 10px auto;
}
