.main_dashboard {
  margin-left: 100px;
  top: 80px;
  width: 100%;
}
.user {
  color: black;
  text-align: left;
}

.table_title {
  color: black;
  text-align: left;
  font-weight: 700;
  font-size: x-large;
}

.table {
  border: solid #3b9db6ad;
  width: 75%;
}
.add_item {
  padding: 6px;
  margin-bottom: 8px;
  /* background-color: #f16775; */
  /* padding: 6px 18px; */
  /* height: 42%; */
  height: 36px;
  /* background-color: #f16775; */
  border-radius: 25px;
  float: right;
  width: 10%;
  border: solid 1px #c6c6c7;
}

.add_item:hover {
  /* background-color: #f16775; */
  /* padding: 6px 18px; */
  /* height: 42%; */
  /* background-color: #f16775; */
  border-radius: 25px;
  transition: all 0.2s ease-out;
  float: right;
  width: 10%;
  border: solid 1px;
  background-color: #dadadd;
  border: solid 1px #b2b2b3;
}
.sideBarRow {
  display: flex;
  flex-direction: row;
}
.itemList {
  display: flex;
  flex-direction: column;
}

.itemCard {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.PriceDropColLabels {
  display: flex;
}
